body {
    padding-top: 70px;
}
.brand-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.brand-image {
    height: 50px;
}
.mobile-element {
    display: none;
}
.non-mobile-element {
    display: block;
}
.front-content {
    padding: 2% 5% 2% 5%;
}