body {
    padding-top: 70px;
}
.brand-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.brand-image {
    height: 50px;
}