<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head (pageTitle=#{about.title})"></head>
<body>
<!-- Import navigation bar -->
<div th:replace="layout :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <img alt="Logo" th:src="@{/images/SimCityLogo.png}" style="height: 100px"/>
            <h2 th:text="#{application.title}"></h2>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<h1>About</h1>

<!-- Import footer -->
<div th:replace="layout :: footer"></div>
</body>
</html>