<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head (pageTitle=#{homepage.title})">
    <link rel="canvasStyle" type="text/css" th:href="@{/css/viewerLayout.css}"/>
</head>
<body>

<!-- Import navigation bar -->
<div th:replace="layout :: navbar"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var username = /*[[@{/images/car.png}]]*/ 'Sebastian';
    /*]]>*/
</script>

<div id="myDiv">

<canvas id="myCanvas" width="1000" height="1000" style="border:1px solid #000000"></canvas>

<canvas id="myLegend" width="200" height="1000" style="border:1px solid #000000;"></canvas>

</div>

<div id="time"></div>
<script type="text/javascript" th:src="@{/js/test.js}"></script>




<!-- Import footer -->
<!--<div th:replace="layout :: footer"></div>-->

</body>
</html>