<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head (pageTitle=#{settings.title})"></head>
<body>
<!-- Import navigation bar -->
<div th:replace="layout :: navbar"></div>

<div class="container-fluid">
    <h2 th:text="#{settings.title}">Settings</h2>

    <ul class="nav nav-tabs">
        <li role="presentation"><a th:href="@{/settings/server}" th:text="#{settings.server}">Server</a></li>
        <li role="presentation"><a th:href="@{/settings/users}" th:text="#{settings.users}">Users</a></li>
        <li role="presentation" class="active"><a href="#" th:text="#{settings.workers}">Workers</a></li>
    </ul></div>

<!-- Import footer -->
<div th:replace="layout :: footer"></div>
</body>
</html>