<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head (pageTitle=#{homepage.title})"></head>
<body>
    <!-- Import navigation bar -->
    <div th:replace="layout :: navbar"></div>

    <div class="container-fluid">
        <h2 th:text="#{application.title}">SimCity</h2>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="#{workers}">Workers</h3>
            </div>
            <div class="panel-body">
                WORKERS
            </div>
        </div>
    </div>

    <!-- Import footer -->
    <div th:replace="layout :: footer"></div>
</body>
</html>